</div>

<div id="footer">

  <!-- Footer Links -->
  
  <h5>Elsewhere</h5>
  <ul class="elsewhere">
    <li>php wp_list_bookmarks('categorize=0&title_li=&category_name=footer&show_images=0'); </li>
  </ul>

  <!-- Search Field -->
  
  <div class="footerContent">
    <form method="get" id="searchform" action="">
      <div id="search">
        <input type="text" value="" name="s" id="s" />
        <input type="submit" id="searchsubmit" value="Search" />
      </div>
    </form>
    
    
    <p>&copy; Aarontropy. Based on the <a href="http://jimbarraud.com/manifest/">Manifest</a> Wordpress theme</p>
  </div>
</div>

</body>
</html>
