<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>{% block title %}Aarontropy{% endblock %}</title>
	
<!--[if gte IE 7]><!-->
  <link rel="stylesheet" href="{{ STATIC_URL }}Manifest/style.css" type="text/css" media="screen" charset="utf-8" />
<!-- <![endif]-->

<!--[if IE 7]>
  <link rel="stylesheet" href="{{ STATIC_URL }}Manifest/style_ie.css" type="text/css" media="screen" charset="utf-8" />
<![endif]-->

<!--[if IE 6]>
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}Manifest/styles_ie6.css" />
<![endif]-->

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>

</head>

<body class="home blog">


<div id="siteWrapper">

  <h1 class="vcard author"><a href="" title="Home" class="fn">Aarontropy</a></h1> 

  <div id="mainNav">
    <ul>
      <li class="page_item">Home</li>
    </ul>
  </div>

     
  <div id="siteDescription">
    Simple journey in to roll-your-owndom
  </div>
