<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>{% block title %}Aarontropy{% endblock %}</title>
	<meta name="description" content="TODO: add a description" />
	<meta name="keywords" content="todo,add,keywords" />
		<link rel="icon" type="image/x-icon" href="images/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}reset.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" media="screen" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
</head>
<body>
<!-- Start: container -->
<div id="container">

{% block content %}{% endblock %}

</div><!-- End: container -->
 </body>
</html>
